.app{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin : 0px;
    padding : 0px;
    color : #000;
    font-family: 'Noto Sans KR', sans-serif;
    position : relative;
}

.intro_bg{
    background-image: url('../asset/토끼.jpg');
    width: 100%;
    height: 718px;
    object-fit: cover;
}

.alink{
    text-decoration: none;
    color : #000;
}

.intro_text{
    margin : 20em auto;
}

h1 {
    font-size : 40px;
}

.intro_text > h1,
.intro_text > h4{
    color : black;
    font-weight: bold;
    text-align: center;
}

.contents{
    font-size: 20px;
}

.amount{
    text-align: center;    
    display: flex;
    margin : -5em 8em 0 6em;
}

.amount > li {
    flex : 1;
    list-style: none;
    height : 10em;
    width : 10em;
    background-color: #fff;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    margin : auto;
}

.amount > li > div{
    text-align : center;
    margin-top : 2.1em;
    color : black;
    font-size: 1.2em;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #e1e1e1;
}

.subtitle1{
    font-size: 1.1em;
}

.subtitle2{
    font-size : 1.4em;
    font-weight: bold;
    animation : countup 3s ease-in;
}

.main_text0{
    width :100%;
    height : 800px;
    margin-top : -80px;
    background-color: #f1f2f3;
}

.main_text0{
    padding-top : 130px;
    text-align : center;
    font-weight : bolder;
}

.main_text0 > h1 {
    font-weight : bold;
    margin-top : 2em;
}

.main_text0 > .contents1{
    margin-top: 1em;
    font-size: 20px;
}


.icons{
    display:flex;
    width : 80%;
    margin : auto;
}

.icons>li{
    flex :1;
    height: 20em;
    background-color: white;
    margin-top : 40px;
    list-style: none;
}

.icons > li:not(:last-child) {
    margin-right : 2em
}

.icon{
    margin-top : 2.2em;
}

.icon_title{
    font-size : 1.5em;
    margin-top : 0.8em;
}

.icon_text{
    font-size : 1.3em;
    margin : 0 2em;
}

.more{
    cursor: pointer;
    width : 120px;
    height : 2.3em;
    background-color : #F28705;
    color : white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top : 2em;
    border : none;
}


/*main-text1*/
.main_text1{
    font-weight : bold;
    margin-top: 7em;
}


.main_text1 > div{
    margin-top: 1em;
    font-size: 20px;
}

.service{
    margin : 0 auto;
    height : 480px;
    width : 100%;
    margin : 3em 2em 2em 0;
}

.slider{
    margin : 0 10em;
}

.main_text2{
    height : 290px;
    width :100%;
    background-color: #F28705;
}

.main_text3 > li {
    text-align: center;
    list-style : none;
    display : flex;
    flex : 1;
}


.context_btn{
    margin-top: 1em;
    width : 14em;
    height : 2.5em;
    border : 1px solid black;
}

.context_btn:hover{
    color : white;
    background-color : black;
}

.main_text3_bg{
    background-image: url('../asset/marble.jpg');
    object-fit: cover;
    width : 100%;
    height : 300px;
}

.main_text3_bg > div{
    width : 50%;
    height : 100%;
}



@keyframes countup{
  0% {
    opacity: 0;
    transform: translateY(10%);
 
  }
  30% {
    opacity: 0.3;
    transform: translateY(6%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}